@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

html,
body {
  background-color: #2e2d2d;
  color: #fff;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  position: relative;
}

.App {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4rem);
}

.App .content {
  flex-grow: 1;
}

hgroup {
  padding: 2rem 0;
}

hgroup h1,
hgroup h3 {
  font-weight: normal;
  margin: 0;
}

hgroup h3 {
  opacity: 0.7;
}

button {
  font-family: "Roboto", sans-serif;
  background-color: #f6d55c;
  color: #5e4900;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  border-radius: 2rem;
  padding: 0.4rem 2rem;
  outline: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.pricing-details-container {
  display: flex;
}

.price-details {
  flex: 1;
  background-color: #00d8ff;
  color: #173f5f;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.price-details:first-child {
  margin-right: 1rem;
}

.price-details div.price {
  padding: 1rem;
  position: relative;
}
.price-details div.price h1,
.price-details div.price h3 {
  margin: 0;
  font-weight: normal;
}

.price-details div.price h1 b,
.price-details div.price h3 b {
  font-weight: bold;
}

.price-details div.last-updated {
  padding: 1rem;
  display: block;
  background-color: #20639b;
  color: #00d8ff;
}

.memoized-content.price-details div.last-updated {
  background-color: #008464;
  color: #00ffa3;
}
.memoized-content.price-details {
  background-color: #00ffa3;
  color: #154a3d;
}

.price-details div.price::before {
  content: "Re-renders";
  display: block;
  background-color: #20639b;
  color: #fff;
  right: 10px;
  position: absolute;
  padding: 5px 10px;
}

.memoized-content.price-details div.price::before {
  content: "Memoized";
  background-color: #008464;
}

.cart-item-information {
  font-size: 1.1rem;
  color: #f6d55c;
  display: inline-block;
  margin-top: 3rem;
}

.cart-button {
  margin-left: 1rem;
}

.App-home a { 
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: #f6d55c;
  display: block;
  margin: 0.8rem 0;
  width: max-content;
}

.accent { 
  color: #f6d55c;
}

.m-0 {
  margin: 0;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  white-space: pre;
}